@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);

/**
 * Ordina theme for reveal.js.
 *
 * Copyright (C) 2016 JWorks - http://www.ordina.be
 */


/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
    background: #fff;
    color: #333;
}

.reveal {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: #333;
}

::selection {
    color: #fff;
    background: #e98300;
    text-shadow: none;
}

.reveal .slides > section,
.reveal .slides > section > section {
    line-height: 1.3;
    font-weight: inherit;
}


/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    margin: 0 0 20px 0;
    color: #222;
    font-family: 'Montserrat', Impact, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal h1 {
    font-size: 2.5em;
}

.reveal h2 {
    font-size: 1.6em;
    color: rgb(223, 111, 12);
}

.reveal h3 {
    font-size: 1.3em;
}

.reveal h4 {
    font-size: 1.0em;
}

.reveal h1 {
    text-shadow: none;
}


/*********************************************
 * OTHER
 *********************************************/

.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}


/* Ensure certain elements are never larger than the slide itself */

.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong,
.reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal q,
.reveal blockquote {
    quotes: none;
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255, 255, 255, 0.05);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: -1px 0px 0px 0px #e98300, 0px 0px 0px 1px #e98300;
    border-left: 10px solid #e98300;
}

.reveal code {
    font-family: monospace;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
    margin-left: 1em;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
    text-align: right;
}

.reveal sup {
    vertical-align: super;
}

.reveal sub {
    vertical-align: sub;
}

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}


/*********************************************
 * LINKS
 *********************************************/

.reveal a {
    color: #e98300;
    text-decoration: none;
    -webkit-transition: color 0.15s ease;
    -moz-transition: color 0.15s ease;
    transition: color 0.15s ease;
}

.reveal a:hover {
    color: #f3d7ac;
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #fff;
    background: #d0881d;
}


/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
    margin: 15px 0;
}

.reveal a img {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: #e98300;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls button.navigate-left,
.reveal .controls button.navigate-left.enabled {
    border-right-color: #e98300 !important;
}

.reveal .controls button.navigate-right,
.reveal .controls button.navigate-right.enabled {
    border-left-color: #e98300;
}

.reveal .controls button.navigate-up,
.reveal .controls button.navigate-up.enabled {
    border-bottom-color: #e98300;
}

.reveal .controls button.navigate-down,
.reveal .controls button.navigate-down.enabled {
    border-top-color: #e98300;
}

.reveal .controls button.navigate-left.enabled:hover {
    border-right-color: #f3d7ac;
}

.reveal .controls button.navigate-right.enabled:hover {
    border-left-color: #f3d7ac;
}

.reveal .controls button.navigate-up.enabled:hover {
    border-bottom-color: #f3d7ac;
}

.reveal .controls button.navigate-down.enabled:hover {
    border-top-color: #f3d7ac;
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
    background: #e98300;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}


/*********************************************
 * SLIDE NUMBER
 *********************************************/

.reveal .slide-number {
    color: #e98300;
    background-color: rgba(255, 255, 255, 0);
}


/*********************************************
 * SYNTAX HIGHLIGHTING - GENERAL
 *********************************************/

pre code {
    color: #333;
}

.has-dark-background pre code {
    color: #fff;
}


/*********************************************
 * SYNTAX HIGHLIGHTING - GRADLE
 *********************************************/

pre code.gradle .hljs-keyword {
    color: #e98300;
}

pre code.gradle .hljs-string {
    color: rgb(4, 114, 0);
}


/*********************************************
 * SYNTAX HIGHLIGHTING - JAVA
 *********************************************/

pre code.java .hljs-class .hljs-title {
    font-weight: bold;
}

pre code.java .hljs-comment {
    color: #929292;
    font-style: italic;
}

pre code.java .hljs-keyword {
    color: #8959A8;
}

pre code.java .hljs-meta {
    color: rgb(50, 136, 141);
}

pre code.java .hljs-string {
    color: #718C00;
}


/*********************************************
 * SYNTAX HIGHLIGHTING - JAVASCRIPT
 *********************************************/

pre code.javascript .hljs-function .hljs-title {
    font-weight: bold;
}

pre code.javascript .hljs-comment {
    color: #929292;
    font-style: italic;
}

pre code.javascript .hljs-keyword {
    color: #8959A8;
}

pre code.javascript .hljs-meta {
    color: rgb(50, 136, 141);
}

pre code.javascript .hljs-number {
    color: #2A76DD;
}

pre code.javascript .hljs-string {
    color: #718C00;
}


/*********************************************
 * SYNTAX HIGHLIGHTING - MARKDOWN
 *********************************************/

pre code.lang-markdown .hljs-tag {
    color: rgb(0, 0, 111);
}


/*********************************************
 * SYNTAX HIGHLIGHTING - MAVEN
 *********************************************/

pre code.maven .hljs-tag {
    color: rgb(0, 0, 111);
    font-weight: 400;
}

.inline-block {
    display: inline-block;
}

.nm {
    margin: 0 !important;
}
.mr5 {
    margin-right: 5px !important;
}
